<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Amirol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets' %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body class="bg-light">
    <%= yield %>
  </body>
</html>
